<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="./app.css">
</head>
<body>
    
    <h1>The Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et eveniet numquam perferendis nam quasi repellendus, voluptate ut aspernatur quod laudantium vitae saepe id atque. Vitae expedita commodi, ut ex maiores repellat atque incidunt fuga dolores temporibus, qui ea maxime assumenda deserunt facere dolorum, nobis blanditiis quos debitis laborum. Odio, placeat!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et eveniet numquam perferendis nam quasi repellendus, voluptate ut aspernatur quod laudantium vitae saepe id atque. Vitae expedita commodi, ut ex maiores repellat atque incidunt fuga dolores temporibus, qui ea maxime assumenda deserunt facere dolorum, nobis blanditiis quos debitis laborum. Odio, placeat!</p>
</body>
</html>